<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:

str = input ("Enter a string")
counter = 0
for count in str:
  counter = counter+1
  
print("length of the string is:", counter)

Enter a stringsister
length of the string is: 6

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
input_string = input("Please Enter a string:")
empty_dict = {}
for x in input_string:
  keys = empty_dict.keys()
  if x in keys:
    empty_dict[x] += 1
  else:
    empty_dict[x] = 1

print(empty_dict)

Please Enter a string:google
{'g': 2, 'o': 2, 'l': 1, 'e': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
a = 0
b = 0
list = [1, 5, 8, 9]
while b < len(list):
    a = a + list[b]
    b += 1

print ('Sum of all elements in given list: ', a)

Sum of all elements in given list:  23

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
input_str = input("Enter s tring:")
empty_list = []
var = input_str[0]
for x in input_str[1:]:
  if x != input_str[0]:
    empty_list.append(x)
  else:
    empty_list.append('$')

print(var+"".join(empty_list))

Enter s tring:restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
# write your answer here
a = int(input("enter your value:" ))
b = int(input("enter your value:"))
S = 3.14*(1+a/b)**3
print(S)

enter your value:3
enter your value:4
16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
output = {**dic1, **dic2, **dic3}
# dic1.update(dic2)
# dic1.update(dic3)
print(output)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
# write your answer here

input_a = ("1", "a", "3", "b", "c", "o", "u", "r","s","e")
check_element = 1
if check_element in input_a:
  print("element present in tuple")
else:
  print("element not present in tuple")

element not present in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
# write your answer here
a = ([12, 13,3, 1, 24])
print(max(a))
print(min(a))

24
1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here