# **INFO5731 Assignment Four**

In this assignment, you are required to conduct topic modeling, sentiment analysis, and regression analysis.

# **Question 1: Topic Modeling**

(30 points). This question is designed to help you understand topic modeling better as well as how to visualize topic modeling results, aims to collect the human meanings of documents. Based on the yelp review data (only the review text will be used for this question), which can be download from Dropbox: https://www.dropbox.com/s/59hsrk56sfwh9u2/Assignment%20four%20data%20Yelp%20%28question%201%20and%202%29.zip?dl=0, **select two models** and write a python program to **identify the top 20 topics (with 15 words for each topic) in the dataset**. Before answering this question, please review the materials in lesson 8, as well as the introduction of these models by the links provided.

(1)   Labeled LDA (LLDA): https://github.com/JoeZJH/Labeled-LDA-Python

(2)   Biterm Topic Model (BTM): https://github.com/markoarnauto/biterm

(3)   HMM-LDA: https://github.com/dongwookim-ml/python-topic-model

(4)   SupervisedLDA: https://github.com/dongwookim-ml/python-topic-model/tree/master/notebook

(5)   Relational Topic Model: https://github.com/dongwookim-ml/python-topic-model/tree/master/notebook

(6)   LDA2VEC: https://github.com/cemoody/lda2vec

(7)   BERTopic: https://github.com/MaartenGr/BERTopic

(8)   LDA+BERT Topic Modeling: https://www.kaggle.com/dskswu/topic-modeling-bert-lda

(9)   Clustering for Topic models: (paper: https://arxiv.org/abs/2004.14914), (code: https://github.com/adalmia96/Cluster-Analysis)


**The following information should be reported:**

(1) Top 20 clusters for topic modeling.

(2) Summarize and describe the topic for each cluster. 

(3) Visualize the topic modeling reasults by using pyLDAVis: https://www.machinelearningplus.com/nlp/topic-modeling-visualization-how-to-present-results-lda-models/#14.-pyLDAVis

In [3]:
# Write your code here

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
!pip install pyLDAvis
import pyLDAvis
import spacy
import gensim
from gensim import corpora, models
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel
import gensim.corpora as corpora
import pyLDAvis.gensim
from nltk.tokenize import RegexpTokenizer
!pip install stop-words
from stop_words import get_stop_words
from nltk.stem.porter import PorterStemmer
from zipfile import ZipFile
import json
import pandas as pd
import os

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: jinja2>=2.7.2 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (2.11.2)
Requirement already satisfied: scipy>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (1.4.1)
Requirement already satisfied: pandas>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (1.1.4)
Requirement already satisfied: funcy in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (1.15)
Requirement already satisfied: numpy>=1.9.2 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (1.18.5)
Requirement already satisfied: wheel>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (0.35.1)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (0.16.0)
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (3.6.4)
Requirement already satisfied: numexpr in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (2.7.1)
Requirement already satisfied: joblib>=0.8.4 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (0.17.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.7.2->pyLDAvis) (1.1.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->pyLDAvis) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->pyLDAvis) (2.8.1)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (0.7.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (1.9.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (50.3.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (1.15.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (8.6.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (20.3.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (1.4.0)
Requirement already satisfied: stop-words in /usr/local/lib/python3.6/dist-packages (2018.7.23)

In [5]:
#dowloading the modules, reading the zip file.
data = "/content/Assignment four data Yelp (question 1 and 2).zip"
   
with ZipFile(data, 'r') as zip: 
    zip.extractall() 
    print('Zip files are extracted')

Extracted files are

In [43]:
response = list()
ratings = list()
files = os.listdir('/content/Assignment four data Yelp (question 1 and 2)')

In [44]:
k=0
for file in files:
  with open('/content/Assignment four data Yelp (question 1 and 2)/'+file, 'r') as readfile:
    k +=1
    json_data = json.load(readfile)
    for data in json_data:
      response.append(data['text'])
      ratings.append(data['stars'])
    if(k==30):
      break

In [45]:
json_df = pd.DataFrame(response,columns = ["Response"])
json_df["Ratings"] = ratings

In [46]:

json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Response  3000 non-null   object
 1   Ratings   3000 non-null   float64
dtypes: float64(1), object(1)
memory usage: 47.0+ KB

In [49]:
import re
from textblob import TextBlob
from nltk.stem import PorterStemmer
from textblob import Word
nltk.download('wordnet')
from nltk.corpus import stopwords

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [53]:
# Removal of special characters
json_df['After noise removal'] = json_df['Response'].apply(lambda x: ''.join(re.sub(r"[^a-zA-Z0-9]+", ' ', charctr) for charctr in x ))

json_df['Remove numbers'] = json_df['After noise removal'].str.replace('\d+', '')

<input>:4: DeprecationWarning: invalid escape sequence \d
<input>:4: DeprecationWarning: invalid escape sequence \d
<input>:4: DeprecationWarning: invalid escape sequence \d
<ipython-input-53-c1ac13493dd3>:4: DeprecationWarning: invalid escape sequence \d
  json_df['Remove numbers'] = json_df['After noise removal'].str.replace('\d+', '')

In [54]:
json_df.head(10)

                                            Response  ...                                     Remove numbers
0  Exceptional customer service by your service d...  ...  Exceptional customer service by your service d...
1  I decided to check out downtown Pittsburgh on ...  ...  I decided to check out downtown Pittsburgh on ...
2  Just got back home form here and couldn't wait...  ...  Just got back home form here and couldn t wait...
3  Came here for lunch with a friend last Saturda...  ...  Came here for lunch with a friend last Saturda...
4  Good food but terrible service.  have been her...  ...  Good food but terrible service   have been her...
5  This has to be the worst Mexican food ever.  I...  ...  This has to be the worst Mexican food ever   I...
6  Husband and I went to see Tina Martini a few w...  ...  Husband and I went to see Tina Martini a few w...
7  The food was pretty good... I had jerk chicken...  ...  The food was pretty good    I had jerk chicken...
8  Great food!! Loved the environment and the sur...  ...  Great food   Loved the environment and the sur...
9  The most relaxing pedicure I have ever had. KL...  ...  The most relaxing pedicure I have ever had  KL...

[10 rows x 4 columns]

In [58]:
import numpy as np

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
vector = CountVectorizer(stop_words='english')
K = vector.fit_transform(json_df['Response'].head(500).values).toarray()

In [62]:
pip install biterm

Collecting biterm
  Downloading https://files.pythonhosted.org/packages/36/ca/5a43511e6ea8ca02cc9e8be1b8898ad79b140c055d4400342dc210ba23bb/biterm-0.1.5.tar.gz (79kB)
     |████████████████████████████████| 81kB 4.7MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from biterm) (1.18.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from biterm) (4.41.1)
Requirement already satisfied: cython in /usr/local/lib/python3.6/dist-packages (from biterm) (0.29.21)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from biterm) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->biterm) (1.15.0)
Building wheels for collected packages: biterm
  Building wheel for biterm (setup.py) ... done
  Created wheel for biterm: filename=biterm-0.1.5-cp36-cp36m-linux_x86_64.whl size=195429 sha256=373dc5a2f43684d75d082a0531fce862e64cd28080d63e090cb6f74c9eb1c0e4
  Stored in directory: /root/.cache/pip/wheels/86/04/10/231fb1d39d86ab58c2683fd3d4fe8415a5bc284ba8a20fd638
Successfully built biterm
Installing collected packages: biterm
Successfully installed biterm-0.1.5

In [68]:
from biterm.utility import vec_to_biterms
vocabulary = np.array(vector.get_feature_names())
biterms_ = vec_to_biterms(K)

In [71]:
from biterm.btm import oBTM
V_btm = oBTM(num_topics=20, V=vocabulary)
Y_topics = V_btm.fit_transform(biterms_, iterations=10)

  0%|          | 0/10 [00:00<?, ?it/s]
 10%|█         | 1/10 [04:36<41:30, 276.73s/it]
 20%|██        | 2/10 [09:12<36:52, 276.51s/it]
 30%|███       | 3/10 [13:48<32:14, 276.33s/it]
 40%|████      | 4/10 [18:24<27:36, 276.11s/it]
 50%|█████     | 5/10 [23:00<23:00, 276.09s/it]
 60%|██████    | 6/10 [27:35<18:23, 275.96s/it]
 70%|███████   | 7/10 [32:12<13:48, 276.10s/it]
 80%|████████  | 8/10 [36:48<09:12, 276.00s/it]
 90%|█████████ | 9/10 [41:23<04:35, 275.96s/it]
100%|██████████| 10/10 [45:59<00:00, 275.97s/it]
/usr/local/lib/python3.6/dist-packages/biterm/btm.py:76: RuntimeWarning: invalid value encountered in true_divide
  P_zd[i] = P_zb.sum(axis=0) / P_zb.sum(axis=0).sum()

In [140]:
from pprint import pprint
# Gensim
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel

In [141]:
# spacy for lemmatization
import spacy
# Plotting tools
import pyLDAvis
import pyLDAvis.gensim  # don't skip this
import matplotlib.pyplot as plt
%matplotlib inline

In [142]:
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.ERROR)
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

In [139]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
stop_words.extend(['from', 'subject', 're', 'edu', 'use'])

In [145]:
def words_sent(statement):
    for statement in statement:
        yield(gensim.utils.simple_preprocess(str(statement), deacc=True)) 

data_words = list(words_sent(json_data))

data_words[:1]

[['exceptional',
  'customer',
  'service',
  'by',
  'your',
  'service',
  'department',
  'my',
  'advisor',
  'ray',
  'was',
  'courteous',
  'efficient',
  'and',
  'knowledgeable',
  'the',
  'lounge',
  'was',
  'comfortable',
  'and',
  'well',
  'stocked',
  'with',
  'refreshments',
  'exceptional',
  'customer',
  'service',
  'by',
  'your',
  'service',
  'department',
  'my',
  'advisor',
  'ray',
  'was',
  'courteous',
  'efficient',
  'and',
  'knowledgeable',
  'the',
  'lounge',
  'was',
  'comfortable',
  'and',
  'well',
  'stocked',
  'with',
  'refreshments',
  'exceptional',
  'customer',
  'service',
  'by',
  'your',
  'service',
  'department',
  'my',
  'advisor',
  'ray',
  'was',
  'courteous',
  'efficient',
  'and',
  'knowledgeable',
  'the',
  'lounge',
  'was',
  'comfortable',
  'and',
  'well',
  'stocked',
  'with',
  'refreshments',
  'very',
  'positive',
  'very',
  'positive',
  'exceptional',
  'customer',
  'service',
  'by',
  'your',
  'service',
  'department',
  'my',
  'advisor',
  'ray',
  'was',
  'courteous',
  'efficient',
  'and',
  'knowledgeable',
  'the',
  'lounge',
  'was',
  'comfortable',
  'and',
  'well',
  'stocked',
  'with',
  'refreshments']]

In [149]:
# trigram models
model_bigram = gensim.models.Phrases(data_words, min_count=6, threshold=80) 
model_trigram = gensim.models.Phrases(model_bigram[data_words], threshold=80)  

# sentence for clubbing as a trigram/bigram
model_bigram_mod = gensim.models.phrases.Phraser(model_bigram)
model_trigram_mod = gensim.models.phrases.Phraser(model_trigram)


model_trigram_mod[model_bigram_mod[data_words[0]]]

/usr/local/lib/python3.6/dist-packages/gensim/models/phrases.py:598: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

['exceptional',
 'customer',
 'service',
 'by',
 'your',
 'service',
 'department',
 'my',
 'advisor',
 'ray',
 'was',
 'courteous',
 'efficient',
 'and',
 'knowledgeable',
 'the',
 'lounge',
 'was',
 'comfortable',
 'and',
 'well',
 'stocked',
 'with',
 'refreshments',
 'exceptional',
 'customer',
 'service',
 'by',
 'your',
 'service',
 'department',
 'my',
 'advisor',
 'ray',
 'was',
 'courteous',
 'efficient',
 'and',
 'knowledgeable',
 'the',
 'lounge',
 'was',
 'comfortable',
 'and',
 'well',
 'stocked',
 'with',
 'refreshments',
 'exceptional',
 'customer',
 'service',
 'by',
 'your',
 'service',
 'department',
 'my',
 'advisor',
 'ray',
 'was',
 'courteous',
 'efficient',
 'and',
 'knowledgeable',
 'the',
 'lounge',
 'was',
 'comfortable',
 'and',
 'well',
 'stocked',
 'with',
 'refreshments',
 'very',
 'positive',
 'very',
 'positive',
 'exceptional',
 'customer',
 'service',
 'by',
 'your',
 'service',
 'department',
 'my',
 'advisor',
 'ray',
 'was',
 'courteous',
 'efficient',
 'and',
 'knowledgeable',
 'the',
 'lounge',
 'was',
 'comfortable',
 'and',
 'well',
 'stocked',
 'with',
 'refreshments']

In [150]:
def stopwords_removing(texts):
    return [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts]

def model_make_bigrams(texts):
    return [model_bigram_mod[doc] for doc in texts]

def model_make_trigrams(texts):
    return [model_trigram_mod[model_bigram_mod[doc]] for doc in texts]

In [163]:
def lemmatization(texts, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV']):
    """https://spacy.io/api/annotation"""
    output = []
    for trail in texts:
        docu = nlp(" ".join(trail)) 
        output.append([token.lemma_ for token in docu if token.pos_ in allowed_postags])
    return output

In [164]:

data_wordsnostops = stopwords_removing(data_words)
data_wordsbigrams = model_make_bigrams(data_wordsnostops)
nlp = spacy.load('en', disable=['parser', 'ner'])

In [167]:
datalemmatizatiom = lemmatization(data_wordsbigrams, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV'])

# **Question 2: Yelp Review Sentiment Analysis**

(30 points). Sentiment analysis also known as opinion mining is a sub field within Natural Language Processing (NLP) that builds machine learning algorithms to classify a text according to the sentimental polarities of opinions it contains, e.g., positive, negative, neutral. The purpose of this question is to develop a machine learning classifier for sentiment analysis. Based on the dataset from assignment three, write a python program to implement a sentiment classifier and evaluate its performance. Notice: **80% data for training and 20% data for testing**.

The data can be download from Dropbox: https://www.dropbox.com/s/59hsrk56sfwh9u2/Assignment%20four%20data%20Yelp%20%28question%201%20and%202%29.zip?dl=0 

The data was saved in json format, here is an example of the data (for this task, you only need to use the star rating and the review text fields):

{
    // string, 22 character unique review id
    "review_id": "zdSx_SD6obEhz9VrW9uAWA",

    // string, 22 character unique user id, maps to the user in user.json
    "user_id": "Ha3iJu77CxlrFm-vQRs_8g",

    // string, 22 character business id, maps to business in business.json
    "business_id": "tnhfDv5Il8EaGSXZGiuQGg",

    // integer, star rating
    "stars": 4,

    // string, date formatted YYYY-MM-DD
    "date": "2016-03-09",

    // string, the review itself
    "text": "Great place to hang out after work: the prices are decent, and the ambience is fun. It's a bit loud, but very lively. The staff is friendly, and the food is good. They have a good selection of drinks.",

    // integer, number of useful votes received
    "useful": 0,

    // integer, number of funny votes received
    "funny": 0,

    // integer, number of cool votes received
    "cool": 0
}

The sentiment of can be accessed based on the star rating, if no star information avaliable for a record, just remove that record. Detail star and sentiment level can be matched blew:

Very positive = 5 stars

Positive = 4 stars

Neutral = 3 stars

Negative = 2 stars

Very negative = 1 star

Here is code for yelp data preprocessing: https://github.com/Yelp/dataset-examples. 

Answer the following questions:

(1) Features used for sentiment classification and explain why you select these features (tf-idf, sentiment lexicon, word2vec, etc). Considering achieve the best performance as you can. 

(2) Select two of the supervised learning algorithm from scikit-learn library: https://scikit-learn.org/stable/supervised_learning.html#supervised-learning, to build a sentiment classifier respectively. 

(3) Compare the performance over accuracy, precision, recall, and F1 score for the two algorithms you selected. Here is the reference of how to calculate these metrics: https://towardsdatascience.com/accuracy-precision-recall-or-f1-331fb37c5cb9.

In [72]:
# Write your code here

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import datascience
import seaborn as sns
from stop_words import  get_stop_words
stop_words = get_stop_words('en')

/usr/local/lib/python3.6/dist-packages/datascience/tables.py:17: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)
/usr/local/lib/python3.6/dist-packages/datascience/util.py:10: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)

In [77]:

def classification_sentiment(stars):
    if stars == 5:
      return 'Very Very Positive'
    elif stars == 4:
      return 'Very Positive'
    elif stars == 3:
      return 'Neutral'
    elif stars == 2:
      return 'Very Negative'
    elif stars == 1:
      return 'Very Very Negative'

level = json_df['Ratings'].map(classification_sentiment)
json_df['Level'] = level
json_df.head(5)

                                            Response  ...          Level
0  Exceptional customer service by your service d...  ...  Very Positive
1  I decided to check out downtown Pittsburgh on ...  ...        Neutral
2  Just got back home form here and couldn't wait...  ...  Very Positive
3  Came here for lunch with a friend last Saturda...  ...  Very Positive
4  Good food but terrible service.  have been her...  ...       Negative

[5 rows x 6 columns]

In [78]:
count = json_df['Level'].value_counts()
count

Very Positive    1369
Positive          680
Very Negative     385
Neutral           329
Negative          237
Name: Level, dtype: int64

In [81]:

p = sns.countplot(data=json_df, x = 'Level', edgecolor=(0,0,0))

In [84]:
# Special characters removal
json_df['After noise removal'] = json_df['Response'].apply(lambda x: ''.join(re.sub(r"[^a-zA-Z0-9]+", ' ', charctr) for charctr in x ))

# removal of punctuation
json_df['Punctuation removal'] = json_df['After noise removal'].str.replace('[^\w\s]','')

# Removal of numbers
json_df['Remove numbers'] = json_df['Punctuation removal'].str.replace('\d+', '')

<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:8: DeprecationWarning: invalid escape sequence \d
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:8: DeprecationWarning: invalid escape sequence \d
<input>:5: DeprecationWarning: invalid escape sequence \w
<input>:8: DeprecationWarning: invalid escape sequence \d
<ipython-input-84-17bdf6b18ea1>:5: DeprecationWarning: invalid escape sequence \w
  json_df['Punctuation removal'] = json_df['After noise removal'].str.replace('[^\w\s]','')
<ipython-input-84-17bdf6b18ea1>:8: DeprecationWarning: invalid escape sequence \d
  json_df['Remove numbers'] = json_df['Punctuation removal'].str.replace('\d+', '')

In [85]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn import svm
from sklearn import model_selection
from sklearn import naive_bayes

In [87]:
tfidf_vect = TfidfVectorizer()
encoder = LabelEncoder()
k = tfidf_vect.fit_transform(json_df['Response'].values)

In [93]:
xtrain, xvalid, ytrain, yvalid = model_selection.train_test_split(k, json_df['Ratings'],test_size=0.2)

In [105]:
def modeltraining(model_intializer):
  trainingmodel = model_intializer
  trainingmodel.fit(xtrain, ytrain)
  predicted = trainingmodel.predict(xvalid)
  accuracy = accuracy_score(yvalid, predicted)
  print("data accuracy for training: {0}".format(accuracy))
  classification_report(yvalid, predicted)

In [106]:
modeltraining(naive_bayes.MultinomialNB())

data accuracy for training: 0.465

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [96]:
modeltraining(svm.SVC())

data accuracy for training: 0.545

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# **Question 3: House price prediction**

(40 points). You are required to build a **regression** model to predict the house price with 79 explanatory variables describing (almost) every aspect of residential homes. The purpose of this question is to practice regression analysis, an supervised learning model. The training data, testing data, and data description files can be download from Dropbox: https://www.dropbox.com/s/52j9hpxppfo921o/assignment4-question3-data.zip?dl=0. Here is an axample for the implementation: https://towardsdatascience.com/linear-regression-in-python-predict-the-bay-areas-home-price-5c91c8378878.

In [109]:
# Write your code here
import pandas as pd
learning = pd.read_csv('/content/train.csv')
examining = pd.read_csv('/content/test.csv')

In [112]:
learning.describe()

                Id   MSSubClass  ...       MoSold       YrSold
count  1459.000000  1459.000000  ...  1459.000000  1459.000000
mean   2190.000000    57.378341  ...     6.104181  2007.769705
std     421.321334    42.746880  ...     2.722432     1.301740
min    1461.000000    20.000000  ...     1.000000  2006.000000
25%    1825.500000    20.000000  ...     4.000000  2007.000000
50%    2190.000000    50.000000  ...     6.000000  2008.000000
75%    2554.500000    70.000000  ...     8.000000  2009.000000
max    2919.000000   190.000000  ...    12.000000  2010.000000

[8 rows x 37 columns]

In [117]:
learning.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [115]:
examining.describe()

                Id   MSSubClass  ...       MoSold       YrSold
count  1459.000000  1459.000000  ...  1459.000000  1459.000000
mean   2190.000000    57.378341  ...     6.104181  2007.769705
std     421.321334    42.746880  ...     2.722432     1.301740
min    1461.000000    20.000000  ...     1.000000  2006.000000
25%    1825.500000    20.000000  ...     4.000000  2007.000000
50%    2190.000000    50.000000  ...     6.000000  2008.000000
75%    2554.500000    70.000000  ...     8.000000  2009.000000
max    2919.000000   190.000000  ...    12.000000  2010.000000

[8 rows x 37 columns]

In [116]:
examining.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 80, dtype: int64

In [122]:
import matplotlib.pyplot as plt
learning.hist(bins=50, figsize=(20,15))
plt.savefig("histogram_plots")
plt.show()

In [123]:
examining.hist(bins=50, figsize=(20,15))
plt.savefig("attribute_histogram_plots")
plt.show()

In [125]:

matrix = learning.corr()
matrix["SalePrice"].sort_values(ascending=False)

SalePrice        1.000000
OverallQual      0.790982
GrLivArea        0.708624
GarageCars       0.640409
GarageArea       0.623431
TotalBsmtSF      0.613581
1stFlrSF         0.605852
FullBath         0.560664
TotRmsAbvGrd     0.533723
YearBuilt        0.522897
YearRemodAdd     0.507101
GarageYrBlt      0.486362
MasVnrArea       0.477493
Fireplaces       0.466929
BsmtFinSF1       0.386420
LotFrontage      0.351799
WoodDeckSF       0.324413
2ndFlrSF         0.319334
OpenPorchSF      0.315856
HalfBath         0.284108
LotArea          0.263843
BsmtFullBath     0.227122
BsmtUnfSF        0.214479
BedroomAbvGr     0.168213
ScreenPorch      0.111447
PoolArea         0.092404
MoSold           0.046432
3SsnPorch        0.044584
BsmtFinSF2      -0.011378
BsmtHalfBath    -0.016844
MiscVal         -0.021190
Id              -0.021917
LowQualFinSF    -0.025606
YrSold          -0.028923
OverallCond     -0.077856
MSSubClass      -0.084284
EnclosedPorch   -0.128578
KitchenAbvGr    -0.135907
Name: SalePrice, dtype: float64

In [126]:
learning.plot(kind="scatter", x="OverallQual", y="SalePrice", alpha=0.5)

In [128]:

learning.fillna(learning.mean(), inplace = True)
examining.fillna(examining.mean(), inplace = True)

In [129]:
learning.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 81, dtype: int64

In [130]:
examining.isnull().sum()

Id               0
MSSubClass       0
MSZoning         4
LotFrontage      0
LotArea          0
                ..
MiscVal          0
MoSold           0
YrSold           0
SaleType         1
SaleCondition    0
Length: 80, dtype: int64

In [131]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [133]:
from sklearn.preprocessing import LabelEncoder
columns = ('GarageCond', 'LandContour', 'RoofStyle', 'RoofMatl', 'Heating', 'MiscFeature', 'SaleType', 'GarageType', 'Electrical', 'SaleCondition', 'Foundation', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'FireplaceQu', 'LotShape', 'Neighborhood', 'Condition1', 'Condition2', 'Utilities', 'BldgType', 'HouseStyle','PoolQC', 'BsmtQual', 'BsmtCond', 'GarageQual','BsmtExposure', 'ExterQual', 'ExterCond','HeatingQC', 'KitchenQual', 'BsmtFinType1','BsmtFinType2', 'Functional', 'Fence', 'GarageFinish', 'LandSlope','LotShape', 'PavedDrive', 'Street', 'Alley', 'CentralAir', 'MSSubClass', 'OverallCond', 'YrSold', 'MoSold', 'MSZoning','LotConfig')
for k in columns:
    encoder = LabelEncoder()
    encoder.fit(list(learning[k].values))
    learning[k] = encoder.transform(list(learning[k].values))
for l in columns:
    encoder_test = LabelEncoder()
    encoder_test.fit(list(examining[l].values))
    examining[l] = encoder_test.transform(list(examining[l].values))

In [134]:
x_learning = learning[learning.columns[:80]]
y_learning = learning['GarageType']
x_examining = examining[examining.columns[:80]]

In [135]:
from sklearn.linear_model import LinearRegression
regress = LinearRegression()
regress.fit(x_learning, y_learning)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [136]:
regress.predict(x_examining)

array([1., 1., 1., ..., 5., 6., 1.])

In [137]:
print('Linear Regression R squared": %.4f' % regress.score(x_learning, y_learning))

Linear Regression R squared": 1.0000